{
    "nick": "uc_pircbotx2",
    "host": "irc.freenode.net",
    "port": 6697,
    "ssl": true,
    "trigger": "&",
    "sasl": false,
    "username": "sasl_username",
    "password": "sasl_password",
    "channels": [
        "#unity-coders",
        "#unity-coders-bots"
    ],
    "modules": {
    	"datetime":{"aliases": ["dt"]},
    	"rand": {},
    	"lart": {},
    	"killertrout": {},
    	"joins": {},
    	"calc": {},
    	"karma": {},
    	"nick": {},
    	"irc": {},
    	"factoid": {}
    },
    "middleware": [
    	"uk.co.unitycoders.pircbotx.commandprocessor.CommandFixerMiddleware",
    	"uk.co.unitycoders.pircbotx.commandprocessor.RewriteEngine"
    ],
    "aliases": {
    	"^([a-zA-Z0-9]+)\\+\\+$": "karma add $1",
		"^([a-zA-Z0-9]+)--$": "karma remove $1",
		"^\\?([a-zA-Z0-9]+)$": "factoid get $1",
		"^date (.+)$": "datetime date $1",
		"^time (.+)$": "datetime time $1",
		"^tell me about ([a-zA-Z0-9]+)\\??$": "factoid get $1",
		"^what is ([a-zA-Z0-9]+)\\?$": "factoid get $1",
		"^remember ([a-zA-Z0-9]+) is (.+)$": "factoid add $1 '$1 is $2'",
		"^no, ([a-zA-Z0-9]+) is (.+)$": "factoid edit $1 '$1 is $2'",
		"^no, forget ([a-zA-Z0-9]+)$": "factoid remove $1"
    }
}