{
    "nick": "uc_pircbotx2",
    "host": "irc.freenode.net",
    "port": 6697,
    "ssl": true,
    "trigger": "&",
    "sasl": false,
    "username": "sasl_username",
    "password": "sasl_password",
    "channels": [
        "#unity-coders",
        "#unity-coders-bots"
    ],
    "modules": [
    	{"name": "datetime", "aliases": ["date", "time"]},
    	{"name": "rand"},
    	{"name": "lart"},
    	{"name": "killertrout"},
    	{"name": "joins"},
    	{"name": "calc"},
    	{"name": "karma"},
    	{"name": "nick"},
    	{"name": "irc"},
    	{"name": "factoid"},
    ]
}